name: publish
run-name: publish Docker image
on:
  push:
    branches: [main]

permissions:
  packages: write
  
jobs:
  publish-hello-docker-image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{github.actor}}
          password: ${{secrets.GITHUB_TOKEN}}
      - name: Build the hello-docker Docker image
        run: |
          docker build ./math_api --tag 'ghcr.io/nicokerk99/cm-training:v1'
          docker push ghcr.io/nicokerk99/cm-training:v1
