name: publish
run-name: publish Docker image
on:
  push:
    branches: [main]
jobs:
  publish-hello-docker-image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build the hello-docker Docker image
        run: |
          export VERSION=$(grep 'version = "' pyproject.toml | head -1 | awk -F'"' '{print $2}')
          export CONTAINER_NAME=ghcr.io/nicokerk99/cm-training:$VERSION-dev
          docker build . --tag $CONTAINER_NAME
          docker push $CONTAINER_NAME
